body {
  margin: 0;
  padding: 0;
  /* background-color: #253439; */
}

.home-title {
  color: aquamarine;
  text-align: center;
}

.nav-title {
  color: yellowgreen;
  text-align: center;
}

.page-links {
  text-align: center;
}

.page-links a {
  color: blueviolet;
  text-decoration: none;
  padding: 20px;
}

.test-content {
  text-align: center;
}

.test-content h2 {
  color: white;
}

